/* You can add global styles to this file, and also import other style files */
img{
    width: 250px;
    height: 250px;
}

.main{
    background-image:url(/assets/img/background2.jpg);
    margin-bottom: 2em;
}

.card:hover{
    box-shadow: 7px 7px 7px 7px  rgb(90, 90, 99);    
    transform: scale(1.01);

}

.navbar{
    margin-bottom: 1em;
}
